/* ---------- TIMER ---------- */
ul#countdown li {
  display: inline-block;
  width: 54px;
  text-align: center;
}
ul#countdown li span {
  font-size: 3em;
  font-weight: bold;
  color: #1f2225;
  height: 108px;
  line-height: 50px;
  position: relative;
}
ul#countdown li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
  margin-top: 1em;
  color: #909091;
  text-transform: uppercase;
  font-size: .875em;
}
ul#countdown1 li {
  display: inline-block;
  width: 54px;
  text-align: center;
}
ul#countdown1 li span {
  font-size: 3em;
  font-weight: bold;
  color: #1f2225;
  height: 108px;
  line-height: 50px;
  position: relative;
}
ul#countdown1 li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}
ul#countdown1 li p.timeRefDays,
ul#countdown1 li p.timeRefHours,
ul#countdown1 li p.timeRefMinutes,
ul#countdown1 li p.timeRefSeconds {
  margin-top: 1em;
  color: #909091;
  text-transform: uppercase;
  font-size: .875em;
}
ul#countdown2 li {
  display: inline-block;
  width: 54px;
  text-align: center;
}
ul#countdown2 li span {
  font-size: 3em;
  font-weight: bold;
  color: #1f2225;
  height: 108px;
  line-height: 50px;
  position: relative;
}
ul#countdown2 li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}
ul#countdown2 li p.timeRefDays,
ul#countdown2 li p.timeRefHours,
ul#countdown2 li p.timeRefMinutes,
ul#countdown2 li p.timeRefSeconds {
  margin-top: 1em;
  color: #909091;
  text-transform: uppercase;
  font-size: .875em;
}
ul#countdown3 li {
  display: inline-block;
  width: 54px;
  text-align: center;
}
ul#countdown3 li span {
  font-size: 3em;
  font-weight: bold;
  color: #1f2225;
  height: 108px;
  line-height: 50px;
  position: relative;
}
ul#countdown3 li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}
ul#countdown3 li p.timeRefDays,
ul#countdown3 li p.timeRefHours,
ul#countdown3 li p.timeRefMinutes,
ul#countdown3 li p.timeRefSeconds {
  margin-top: 1em;
  color: #909091;
  text-transform: uppercase;
  font-size: .875em;
}
