<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title> Home Page </title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{asset('bundles/loginlogin/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/bootstrap.min.css')}}" rel="stylesheet"> 
        <link href="{{asset('bundles/loginlogin/css/sample.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/home.css')}}" rel="stylesheet">
    </head>
    <body>
        <h1> scores table </h1>
    </body>
</html>