/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2016, 1:13:25 PM
    Author     : shashikumar
*/
.well{
    margin-top: 5%;
    background-color: grey;
 }
 #heading{
     padding-left: 30%;
 }
 #title{
     font-size: 20px;
 }
.row{
    width: 95%;
    height: 150px;
    background-color: white;
    margin-left: 40px;
    border-style: dotted;
}
.col-lg-3{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    border-right: 1px solid #ecebeb;
    line-height: 1.4;
    margin: 15px 0;
    padding: 0 20px;
}
