/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2016, 1:13:25 PM
    Author     : shashikumar
*/
.well{
    margin-top: 5%;
    background-color: grey;
 }
 #heading{
     padding-left: 30%;
 }
 #title{
     font-size: 20px;
 }
.row{
    width: 95%;
    height: 161px;
    background-color: #FF9800;
    margin-left: 40px;
    border-style: outset;
}
row1{
    width:100%;
    background-color: grey;
}
.col-lg-3{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 20px;
}
    #clockdiv{
			font-family: sans-serif;
			color: #fff;
			display: inline-block;
			font-weight: 100;
			text-align: center;
			font-size: 30px;
		}

		#clockdiv > div{
			padding: 1px;
			border-radius: 3px;
			background: #00BF96;
			display: inline-block;
		}

		#clockdiv div > span{
			padding: 15px;
			border-radius: 3px;
			background: #00816A;
			display: inline-block;
		}

                
		.smalltext{
			padding-top: 5px;
			font-size: 1px;
		}
                #timer1{
                    text-shadow: 2px 2px 5px red;
                    font-size: 45px;
                }
                #timer2{
                    text-shadow: 2px 2px 5px red;
                    font-size: 45px;
                }
                #timer3{
                    text-shadow: 2px 2px 5px red;
                    font-size: 45px;
                }
                #timer4{
                    text-shadow: 2px 2px 5px red;
                    font-size: 45px;
                }
                #between{
                    text-shadow: 2px 2px 5px red;
                    margin-left: 07%;
                    width: 30%;
                }
                #best{
                    text-shadow: 2px 2px 5px red;
                    font-size: 25px;
                    margin-left: 12%;
                }
                #bat_table{
                     width: 80%;
                     margin-top: 10%;
                }

