/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2016, 4:11:30 PM
    Author     : shashikumar
*/
.dropbtn{
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: blueviolet;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    color: black;
    padding: 12px;
    text-decoration: none;
    display: none;
}
.dropdown-content a:hover{
    background-color: purple
}
.dropdown:hover .dropdown-content{
    display: none
}
.dropdown:hover .dropbtn{
    background-color: hotpink;
}
.table{
    margin-left: 15px;
    border: #777 4px dashed;
}
.listplayer{
    margin-left: 20%;
}